@import "./layout.scss";

@mixin btn($size:14px,$color:#fff,$bgcolor:#F04752,$padding:5px,$radius:5px) {
  padding: $padding;
  background-color: $bgcolor;
  border-radius: $radius;
  border: 1px solid $bgcolor;
  font-size: $size;
  color: $color;
  text-align: center;
  line-height: 1;
  display: inline-block;
}

@mixin list($direction:column) {
  @include flex($direction);
}

@mixin panel($bgcolor:#fff,$padding:0,$margin:0,$height:45px,$txtPadding:0 32px,$color:#333,$fontSize:32px) {
  background: $bgcolor;
  padding: $padding;
  margin: $margin;
  >h4{
    font-size: 30px;
    background: #ccc;
    height: $height;
    line-height: $height;
    padding: $txtPadding;
    text-overflow: ellipsis;  /*当对象内文本溢出时显示省略标记（...）*/
    white-space: nowrap; /*规定文本不进行换行*/
    overflow: hidden;  /*溢出隐藏*/
    text-align: left;
    color: $color;
    font-size: $fontSize
  }
}
